<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
        <% for (var i in theme.links){ %>
          <li>
            <% if(theme.links[i].indexOf(",") > 0) { %>
            	<a href="<%- theme.links[i].split(",")[0] %>" target="_blank" title="<%- theme.links[i].split(",")[1] %>"><%= i %></a>
            <% }else{ %>
            	<a href="<%- theme.links[i] %>" target="_blank" title="<%= i %>"><%= i %></a>
            <% } %>
          </li>
        <% } %>
     <a href="https://www.upyun.com/" rel="external nofollow"><img src="http://upfiles.b0.upaiyun.com/logo/90x45.png" alt="UPYUN"></a>
    </ul>
</div>