<section class="<%= item.layout %>" itemscope itemprop="blogPost">
<div class="bellows single">
	<div class="bellows__item">
		<div class="bellows__header">      
                       <h3><%= item.title %></h3>
                </div>
         <div class="bellows__content">
		<p class="enter_input"><%= strip_html(item.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140) %></p>
                <a href="<%- config.root %><%- item.path %>">点此阅读---></a>
         </div>
</div>
</section>